<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-6">
      <div class="col-sm-12">
        <h4>请求类型：</h4>
        <div>
          <select id="requestType" class="form-control"
                  ng-model="interfaceType">
            <option value="1">Form表单请求</option>
            <option value="2">@RequestBody请求</option>
            <option value="3">Restful</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <h4>接口名称(如：abc/test.do)：</h4>
        <div>
          <input class="form-control"
                 type="text" id="Name"
                 ng-model="interface.interfaceName"
                 ng-change="changeInterface()"/>
        </div>
      </div>
      <div class="col-sm-12">
        <h4>接口（最终以接口名称为准，此处仅供快速选择）：</h4>
        <div>
          <select id="type" class="form-control"
                  ng-options="interface as interface.interfaceName for interface in interfaceList"
                  ng-model="interface">
          </select>
        </div>
      </div>
      <div class="col-sm-12" ng-if="interfaceType==3">
        <h4>REST请求类型：</h4>
        <div>
          <select id="rms" class="form-control"
                  ng-options="method as method.methodName for method in interface.restMethod"
                  ng-model="$parent.restMethod">
          </select>
        </div>
      </div>
      <div class="col-sm-12" ng-if="interfaceType==3">
        <h4>REST的URL参数，参数名需与URL中一致：如(userId=123&deptId=123)</h4>
        <div>
          <input class="form-control"
                 type="text" id="restParam"
                 ng-model="restMethod.params"/>
        </div>
      </div>
      <div class="col-sm-12">
        <h4>传值参数：如(name=李四&password=admin)</h4>
        <div>
          <textarea id="values" class="form-control"
                    ng-model="params"
                    style="height: 240px;"></textarea>
        </div>
      </div>
      <div class="col-sm-12">
        <br>
        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="submit()">提交</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-6">
      <div
        hljs source="toPrettyJSON(returnStr)">
      </div>
    </div>
  </div>
</div>
