/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

body {
  padding: 0;
  background-color: #252830;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  //.container {
  //  max-width: 730px;
  //}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #434857;
  background-image: none;
  border: 1px solid #434857;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #ffffff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.form-control::-moz-placeholder {
  color: #cfd2da;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #cfd2da;
}
.form-control::-webkit-input-placeholder {
  color: #cfd2da;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #30343e;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
.a,
.b,
.c,
.d,
.e,
.f {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #ffffff;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.a small,
.b small,
.c small,
.d small,
.e small,
.f small,
h1 .cv,
h2 .cv,
h3 .cv,
h4 .cv,
h5 .cv,
h6 .cv,
.a .cv,
.b .cv,
.c .cv,
.d .cv,
.e .cv,
.f .cv {
  font-weight: normal;
  line-height: 1;
  color: #cfd2da;
}
h1,
.a,
h2,
.b,
h3,
.c {
  margin-top: 21px;
  margin-bottom: 10.5px;
}
h1 small,
.a small,
h2 small,
.b small,
h3 small,
.c small,
h1 .cv,
.a .cv,
h2 .cv,
.b .cv,
h3 .cv,
.c .cv {
  font-size: 65%;
}
h4,
.d,
h5,
.e,
h6,
.f {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
h4 small,
.d small,
h5 small,
.e small,
h6 small,
.f small,
h4 .cv,
.d .cv,
h5 .cv,
.e .cv,
h6 .cv,
.f .cv {
  font-size: 75%;
}
h1,
.a {
  font-size: 36px;
}
h2,
.b {
  font-size: 30px;
}
h3,
.c {
  font-size: 24px;
}
h4,
.d {
  font-size: 18px;
}
h5,
.e {
  font-size: 14px;
}
h6,
.f {
  font-size: 12px;
}
p {
  margin: 0 0 10.5px;
}

/*highlight 边框样式*/
pre {
  margin: 0;
  padding: 0;
  font-size: medium;
  border: 1px solid #434857;
  max-height: 510px;
}

.hljs {
  min-height: 505px;
}

